<h1>Profile</h1>

<h2>Nombre: {{user.first_name}}</h2>
<h4>Apellido: {{user.last_name}}</h4>
<h4>Email: {{user.email}}</h4>
<strong>Edad: {{user.age}}</strong>
<strong>Rol: {{user.role}}</strong>

<form action="/session/changeUserRole" method="get">
  <button type="submit">Update Rol</button>
</form>

<form action="/session/changeUserRole" method="get">
  <input type="file">
  <button type="submit">subir imagen prod</button>
</form>

<form action="/api/users/{{user._id}}/documents" method="post" enctype="multipart/form-data">
  <input type="file" name="MyFile">
  <button type="submit">subir documento</button>
</form>

<form action="/session/changeUserRole" method="get">
  <input type="file">
  <button type="submit">subir imagen de user</button>
</form>